/nbproject/private/
/vendor/
/.env
/nbproject/
/.build/
/.vscode/
/debian/.debhelper/
/debian/cnb-cache/
/debian/cnb-cache.debhelper.log
/debian/debhelper-build-stamp
/debian/files
/debian/cnb-cache.substvars
/debian/cnb-cache-mysql/
/debian/cnb-cache-pgsql/
/debian/cnb-cache-sqlite/
/debian/cnb-cache-sqlite.debhelper.log
/debian/cnb-cache-mysql.debhelper.log
/debian/cnb-cache-mysql.substvars
/debian/cnb-cache-sqlite.substvars
/debian/cnb-cache.postrm.debhelper
/debian/tmp/composer.json
