#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_version 2.0

db_title Reconfigure webserever
db_input high cnb-cache/reconfigure-webserver || true

db_go || true
db_stop

if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
    # source dbconfig-common stuff
    . /usr/share/dbconfig-common/dpkg/config

    if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
        . /usr/share/dbconfig-common/dpkg/config.mysql
        dbc_go cnb-cache "$@"
    fi
fi
