Source: cnb-tools
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Spoje-NET/CNB-Tools
Rules-Requires-Root: no
Vcs-Git: https://github.com/Spoje-NET/CNB-Tools.git
Vcs-Browser: https://github.com/Spoje-NET/CNB-Tools

Package: cnb-tools
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 php-vitexsoftware-ease-core (>=1.45),
 php-cli,
 php-vitexsoftware-ease-fluentpdo (>=1.3),
 cnb-tools-sqlite|cnb-tools-mysql|cnb-tools-pgsql,
 anacron, adduser (>= 3.11),
Description: CNB Currency rate Cache
 Keep the history of specified currencies stored in
 SQL database.

Package: cnb-tools-sqlite
Multi-Arch: foreign
Depends: ${misc:Depends},cnb-tools, dbconfig-sqlite3, php-sqlite3, sqlite3
Conflicts: cnb-tools-mysql, cnb-tools-pgsql
Replaces: multi-flexibee-setup-sqlite
Architecture: all
Description: sqlite support for cnb tools
 Mandatory dependencies for use CNB Tools with SQLite database

Package: cnb-tools-mysql
Multi-Arch: foreign
Depends: ${misc:Depends},cnb-tools, dbconfig-mysql, php-mysql, php-robmorgan-phinx|php-cakephp-phinx
Conflicts: cnb-tools-sqlite, cnb-tools-pgsql
Replaces: multi-flexibee-setup-mysql
Suggests: mariadb-server
Architecture: all
Description: mariadb support for cnb tools
 Mandatory dependencies for use CNB Tools with MySQL/MariaDB databas
