Source: cnb-cache
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://github.com/Spoje-NET/CNB-cache
Rules-Requires-Root: no
Vcs-Git: https://github.com/Spoje-NET/CNB-cache.git
Vcs-Browser: https://github.com/Spoje-NET/CNB-cache

Package: cnb-cache
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends},
 php-cli,
 php-vitexsoftware-ease-core (>=1.45),
 php-vitexsoftware-ease-fluentpdo (>=1.3),
 cnb-cache-sqlite|cnb-cache-mysql|cnb-cache-pgsql,
 anacron, adduser (>= 3.11),
Description: CNB Currency rate Cache
 Keep the history of specified currencies stored in
 SQL database.

Package: cnb-cache-sqlite
Multi-Arch: foreign
Depends: ${misc:Depends},cnb-cache, dbconfig-sqlite3, php-sqlite3, sqlite3
Conflicts: cnb-cache-mysql, cnb-cache-pgsql
Replaces: multi-flexibee-setup-sqlite
Architecture: all
Description: sqlite support for cnb cache
 Mandatory dependencies for use CNB cache with SQLite database

Package: cnb-cache-mysql
Multi-Arch: foreign
Depends: ${misc:Depends},cnb-cache, dbconfig-mysql, php-mysql, php-robmorgan-phinx|php-cakephp-phinx
Conflicts: cnb-cache-sqlite, cnb-cache-pgsql
Replaces: multi-flexibee-setup-mysql
Suggests: mariadb-server
Architecture: all
Description: mariadb support for cnb cache
 Mandatory dependencies for use CNB cache with MySQL/MariaDB databas
