#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

override_dh_install:
	mkdir -p debian/tmp/
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/tmp/composer.json
	dh_install
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/cnb-tools/g' debian/cnb-tools/usr/*/cnb-tools/*.php
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/cnb-tools/g' debian/cnb-tools*/usr/lib/cnb-tools/*.php
	sed -i -e 's/\.\.\/\.env/\/etc\/cnb-tools\/\.env/g' debian/cnb-tools/usr/lib/cnb-tools/phinx-adapter.php
	mkdir -p                                                             debian/cnb-tools-sqlite/usr/lib/cnb-tools
	cp debian/conf/.env.template                                         debian/cnb-tools-sqlite/usr/lib/cnb-tools
	mkdir -p                                                             debian/cnb-tools-mysql/usr/lib/cnb-tools
	cp debian/conf/.env.template                                         debian/cnb-tools-mysql/usr/lib/cnb-tools
	mkdir -p                                                             debian/cnb-tools-pgsql/usr/lib/cnb-tools
	cp debian/conf/.env.template                                         debian/cnb-tools-pgsql/usr/lib/cnb-tools
	sed -i '/DB_DATABASE/c\DB_DATABASE=_DBC_DBNAME_'                     debian/cnb-tools-*sql/usr/lib/cnb-tools/.env.template
