#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf vendor composer.lock
	rm -rf debian/tmp/

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

override_dh_install:
	mkdir -p debian/tmp/
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/tmp/composer.json
	dh_install
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/cnb-cache/g' debian/cnb-cache/usr/*/cnb-cache/*.php
	sed -i -e 's/.\.\/vendor/\/var\/lib\/composer\/cnb-cache/g' debian/cnb-cache*/usr/lib/cnb-cache/*.php
	sed -i -e 's/\.\.\/\.env/\/etc\/cnb-cache\/\.env/g' debian/cnb-cache/usr/lib/cnb-cache/phinx-adapter.php
	mkdir -p                                                             debian/cnb-cache-sqlite/usr/lib/cnb-cache
	cp debian/conf/.env.template                                         debian/cnb-cache-sqlite/usr/lib/cnb-cache
	mkdir -p                                                             debian/cnb-cache-mysql/usr/lib/cnb-cache
	cp debian/conf/.env.template                                         debian/cnb-cache-mysql/usr/lib/cnb-cache
	mkdir -p                                                             debian/cnb-cache-pgsql/usr/lib/cnb-cache
	cp debian/conf/.env.template                                         debian/cnb-cache-pgsql/usr/lib/cnb-cache
	sed -i '/DB_DATABASE/c\DB_DATABASE=_DBC_DBNAME_'                     debian/cnb-cache-*sql/usr/lib/cnb-cache/.env.template
